# TTC Analysis of Ridership

## cleaning up dataset

In [1]:
## import statement 

import pandas as pd
import numpy as np

In [2]:
## read file, remove NaN values
df = pd.read_excel('ttc-ridership-analysis.xlsx')
records_before = df.size
missing_values = df.isna().sum().sum()

In [3]:
df = df.iloc[3:,1:]
df.columns = df.iloc[0]

In [4]:
# remove padding before and after string value
new_cols = []
for date in df.columns:
    new_cols.append(str(date).replace(' ', ''))
    
add_cols = []
for i in range(len(new_cols)):
    add_cols.append(new_cols[i].replace('.0',''))
# clean headers
df.columns = add_cols

In [60]:
## sub-divide df into who, where, when 
# apply meaninful index

who_ttc = df.iloc[3:43].set_index('FAREMEDIA',drop= True)
where_ttc = df.iloc[43:53].set_index('FAREMEDIA',drop= True)
when_ttc = df.iloc[53:56].set_index('FAREMEDIA', drop= True)

In [68]:
who_ttc.tail(3)

,2018,2017,2016,2015*,2014,2013,2012,2011,2010,2009,...,1994,1993,1992,1991,1990,1989,1988,1987,1986,1985
FAREMEDIA,,,,,,,,,,,,,,,,,,,,,
POSTAL CARRIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1085.0,1331.0,1340.0,1298.0,1993.0,1860.0,1875.0,1874.0,1844.0,1821.0
GTA PASS,3524.0,4283.0,4855.0,5471,6087.0,5784.0,5388.0,5642.0,5667.0,5800.0,...,343.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SYSTEM TOTAL,521404.0,533216.0,538079.0,534005,534815.0,525194.0,514007.0,500219.0,477357.0,471233.0,...,388252.0,393485.0,404251.0,424167.0,459234.0,450726.0,463475.0,456884.0,441012.0,432160.0

In [69]:
where_ttc.tail(3)

,2018,2017,2016,2015*,2014,2013,2012,2011,2010,2009,...,1994,1993,1992,1991,1990,1989,1988,1987,1986,1985
FAREMEDIA,,,,,,,,,,,,,,,,,,,,,
STREETCAR,35866.0,55914.0,60607.0,63581,65420.0,63315.0,58657.0,58904.0,54139.0,49067.0,...,43067.0,46135.0,49349.0,53635.0,57103.0,56376.0,58623.0,57332.0,64189.0,58102.0
SUB-TOTAL,256866.0,272103.0,285180.0,295062,289523.0,285226.0,279425.0,276950.0,257502.0,252688.0,...,197232.0,204425.0,211756.0,235017.0,256553.0,252648.0,255418.0,253484.0,252100.0,239470.0
SYSTEM TOTAL,521404.0,533216.0,538079.0,534005,534815.0,525194.0,514007.0,500219.0,477357.0,471233.0,...,388252.0,393485.0,404251.0,424167.0,459234.0,450726.0,463475.0,456884.0,441012.0,432160.0

In [70]:
when_ttc.head(3)

,2018,2017,2016,2015*,2014,2013,2012,2011,2010,2009,...,1994,1993,1992,1991,1990,1989,1988,1987,1986,1985
FAREMEDIA,,,,,,,,,,,,,,,,,,,,,
WEEKDAY,417245.0,424155.0,424117.0,423808,423269.0,416297.0,406913.0,395578.0,379810.0,374908.0,...,319087.0,324529.0,334515.0,350714.0,379987.0,374024.0,385093.0,382917.0,369295.0,358947.0
WEEKEND/HOLIDAY,104159.0,109061.0,113962.0,110197,111546.0,108897.0,107094.0,104641.0,97547.0,96325.0,...,69165.0,68956.0,69736.0,73453.0,79247.0,76702.0,78382.0,73967.0,71717.0,73213.0
SYSTEM TOTAL,521404.0,533216.0,538079.0,534005,534815.0,525194.0,514007.0,500219.0,477357.0,471233.0,...,388252.0,393485.0,404251.0,424167.0,459234.0,450726.0,463475.0,456884.0,441012.0,432160.0